#banner {
    width: 100%;
    height: calc(100vh - 81px);
    background-image: url("https://1.bp.blogspot.com/-ihzCY0WVc1Y/YA8HvO8DZkI/AAAAAAAABgA/PQjVN88krXE-VOHWHNcDAebAtG-OMeh9QCLcBGAsYHQ/s870/mulher_programacao_blog.png");
    background-size: cover;
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .banner-text {
      color: white;
      text-shadow:#000 1px -1px 2px, #000 -1px 1px 2px, #000 3px 3px 3px, #000 -1px -1px 2px;
      font-weight: bold;
      text-align: center;
      width: 50%;
  
      h2 {
        font-size: 1.6rem;
      }
      
      p {
        font-size: 1rem;
      }
    }

    img {
      max-width: 10.5rem;
      align-items: center ;
      justify-content: center;
      border: 7px ridge rgb(255, 255, 255);
      border-radius: 5px;
      margin-bottom: 1.5rem;
      margin-top: 1rem;
    }  
  }

          